<%- include ('partials/header') %>
<div class="text-center justify-content-center">
  <h1>Hi</h1>
  <p class="text-break">
    This website was built with full-stack functionality (MongoDB, Express,
    Bootstrap, Node) with instruction from Dr. John Bastean from Coker
    University.
  </p>
</div>
<p class="text-center">
  If you're interested in seeing more of my work, please visit my
  <a href="https://github.com/AlexKang534">Github</a>
</p>
<p class="text-center">
  I'm still learning more about Web Development, and will try to upate this page
  more as I learn. You can track my progress at my personal portfolio
  <a href="https://alexkang534.github.io/">here.</a>
</p>

<%- include ('partials/footer') %>
